.portfolioList {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 100px;
  gap: 10px;
}
.portfolioList > div {
  cursor: pointer;
  filter: grayscale(0.75);
  border-radius: 5px;
  border: 1px solid dimgray;
  display: flex;
  overflow: hidden;
  transition: all 200ms;
}
.portfolioList > div > img {
  width: 100%;
  height: auto;
  transition: all 200ms;
}

@media (hover: hover) {
  .portfolioList > div:hover {
    filter: grayscale(0);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
  }
  .portfolioList > div:hover > img {
    transform: scale(1.25);
  }
}