.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.wrapper {
  padding: 10px 10px 60px;
}

.icons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 65px;
  grid-template-rows: repeat(auto-fill, 85px);
  gap: 15px;
}

.icon {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 2.5px;
  transition: all 200ms;
}
.icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon > p {
  font-size: 14px;
  color: white;
}

@media (hover: hover) {
  .icon:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .wrapper {
    padding-top: 30px;
  }

  .icons {
    justify-content: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 55px);
    grid-template-rows: none;
    grid-auto-rows: 65px;
  }
}