* {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-break: keep-all;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  position: relative;
  overflow: hidden;
}

p {
  font-family: 'font';
}

@font-face {
  font-family: 'font';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}